.autocomplete-richlistbox {
  border: 1px solid red;
}

/**
 * It looks like we can style the elements!
 */
.autocomplete-richlistitem {
  -moz-box-orient: horizontal;
  border: 1px solid rebeccapurple;
}

.autocomplete-richlistitem .ac-action-text,
.autocomplete-richlistitem .ac-url-text {
  color: #00a1f2 !important;
}

.autocomplete-richlistitem[actiontype="switchtab"] .ac-action-text {
  color: #03a56f !important;
}

.autocomplete-richlistitem[selected="true"] .ac-action-text,
.autocomplete-richlistitem[selected="true"] .ac-url-text {
  color: #FFF !important;
}